.formulario {
    background-color: white;
    width: 60vw;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid blueviolet;
}

.linha-imput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

.imput-padrao {
    width: 60%;
    border-radius: 15px;
    border: 1px solid blueviolet;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.nav-botao {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.botao {
    background-color: white;
    padding: 4px;
    width: 6rem;
    border-radius: 15px;
    border: 1px solid blueviolet;
}